body {
  margin: 0;
}
header {
  background: url(jungle.jpg);
  background-size: cover;
  height: 500px;
  margin: 0 30px;
}

.profile {
  width: 200px;
  height: 200px;
  background-image: url(zita.jpg);
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  position: absolute;
  left: 50%;
  margin-top: 150px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border: 1px solid #ddd;
  padding: 5px;
  background-color: white;
}

article {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
}

h1 {
  color:  #fff;
  font-family: 'Abril Fatface', cursive;
  font-size: 36px;
  font-weight: lighter;
  position: absolute;
  top: 300px;
}

span {
  font-size: 72px;
}

h2 {
  text-transform: uppercase;
  margin: 60px 0;
}

h3 {
  font-size: 24px;
}

li {
  list-style: square;
  line-height: 1.5;
}

.training h3,
.experience h3 {
  margin-bottom: 0;
}

.training h4,
.experience h4 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-style: italic;
  margin: 0;
}

h5 {
  margin: 0;
}

.introduction {
  font-size: 20px;
  margin-top: 70px;
}

.social img {
    max-width: 10%;
    height: auto;
}

.social .item {
    width: 50px;
    min-height: 50px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

hr {
  width: 110%;
  left: -5%;
  position: relative;
  border-top: 3px solid;
}
